.container{
    display:flex;
    flex-direction: column;
}
.search{
    display: flex;
    width: 40vw;
}

.image{
    width: 8vw;
}

.text{
    margin:auto;
    width: 35vw;
    border-radius: 20px;
    height: 2.5em;
}

.button{
    width: 8vw;
    height: 2em;
    border-radius: 10px;
    margin: auto;
    margin-left: 2vw;
}
.resultsContainer{
    display: flex;
    flex-direction: column;
}

.result{
    display: flex;
    flex-direction: column;
    margin-left: 10em;
}